/* Default styles for all screen sizes */
input[type="text"],
input[type="tel"],
input[type="email"],
select,
input[type="date"],
input[type="datetime-local"],
input[type="checkbox"] {
    width: 95%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#platform-container,
#location-container {
    display: none;
}

/* Mobile-specific styles */
@media (max-width: 320px) {
    h1 {
        color:#ccc;
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select,
    input[type="date"],
    input[type="datetime-local"],
    input[type="checkbox"] {
        width: 100%; /* Adjust width to fit smaller screens */
        margin-right: 0; /* Optional: Remove right margin if you want full-width inputs */
    }

    #platform-container,
    #location-container {
        display: block; /* Show the hidden containers on mobile */
    }
}
