{% extends "base.html" %}
{% block title %}
Faktureringsinformation
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
{% endblock %}

{% block content %}
<h1>Faktureringsinformation</h1>
<form method="post" action="/billing">

    <label for="organization_number">Orginations nummer:</label><br>
    <input type="text" id="organization_number" name="organization_number"><br><br>

    <label for="billing_address">Fakturaadress*:</label><br>
    <input type="text" id="billing_address" name="billing_address"><br><br>

    <label for="email_billing_address">E-postadress för fakturering*:</label><br>
    <input type="email" id="email_billing_address" name="email_billing_address"><br><br>

    <label for="reference">Referens*:</label><br>
    <input type="text" id="reference" name="reference"><br><br>

    <p style="color: red;">*obligatorisk</p>
    <input type="submit" value="Skicka in">
</form>
{% endblock %}
